<!doctype html>

<html>
<head>
  
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  
  <h2  class="text-center" >RAW </h2>
  <h3  class="text-center" >fashion + beauty</h3>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fashion">Fashion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beauty">Beauty</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/articles">Articles</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#"> 
         </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/subscribe">Subscribe</a>
      </li>
     
    </ul>
  </div>
</nav>
  
   <h3 class="text-center">Articles<h3>
   
  
  <style>
.parallax {
  /* The image used */
  background-image: url(https://78.media.tumblr.com/38379ba931839dbb8317fcccec458c52/tumblr_nst2f4hAOc1ualwwro1_400.gif);
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
  
<!-- Container element -->
<div class="parallax"></div>

  <br>
  <h2 class="text-center"> Why Cruelty Free?</h2> 
  <br>
  
  <h4>If you wouldn’t harm an animal, why would you buy products that have? Many brands today have switched over to being cruelty-free. Most people haven’t switched to cruelty-free because they just assume that it would be higher in cost and decreased quality. However, that isn’t true! If you look at our beauty and fashion tabs at the top of the page, you can see that there is a range of brands that have switched to cruelty-free. If you are looking for a makeup brand that isn’t as expensive, I recommend E.L.F Cosmetics because their prices are extremely reasonable and they occasionally have a sale which makes their prices unbeatable. In addition, clothing brands like H&M and Forever 21 have a variety of vegan clothes for great prices. Just making that extra effort to search up specific brands and products that are cruelty-free really makes a difference. If more people show interest in cruelty-free products more and more companies will be forced to stop harming animals and switch to cruelty-free. The switch isn’t hard, so just think about the animals before you want to buy something. Stop with the lame excuses as to why you can’t switch over, and JUST DO IT!
</h4>
  <br>
  <h4>- By Celine Boudaie</h4>
  <br>
  
  
  
  
  
  

 

  
  
    <style>
.parallax {
  /* The image used */
  background-image: url(https://78.media.tumblr.com/38379ba931839dbb8317fcccec458c52/tumblr_nst2f4hAOc1ualwwro1_400.gif);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
</body> 
</html>
    


  
  