<!doctype html>

<html>
<head>
  
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  
  <h2  class="text-center" >RAW </h2>
  <h3  class="text-center" >fashion + beauty</h3>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fashion">Fashion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beauty">Beauty</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/articles">Articles</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#"> 
         </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/subscribe">Subscribe</a>
      </li>
     
    </ul>
  </div>
</nav>
  
   <h3 class="text-center" >Beauty</h3>
  
  <style>
.parallax {
  /* The image used */
  background-image: url(https://78.media.tumblr.com/cf3e2e248f222185515725fd4b01c525/tumblr_p1w2i8q4g01rvt47eo1_500.gif);
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

  <br>
  
 <!-- Cards 1-3 --> 
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://www.crueltyfreekitty.com/wp-content/uploads/2016/03/hourglass.jpg">
    <div class="card-body">
      <h5 class="text-center">HOURGLASS</h5>
      <p class="card-text">Their full range of brushes is 100% vegan and made from synthetic Taklon hair. High-quality and luxurious makeup, beautiful packaging. Three of their face products are definitely cult favorites: their Ambient Lighing Powder (great for all skin types and tones), their Veil Mineral Primer, and their Immaculate Liquid Powder Foundation (both great for oily skin) </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://slack-imgs.com/?c=1&url=http%3A%2F%2Fassets.rebelcircus.com%2Fblog%2Fwp-content%2Fuploads%2F2015%2F04%2FUntitled-2.gif">
    <div class="card-body">
      <h5 class="text-center">KAT VON D</h5>
      <p class="card-text">This is a very versatile makeup line by tattoo artist Kat Von D. Their products are high-quality yet still fairly-priced, and they offer everything from neutrals and nudes to bold and colourful items. Plus, they make the best matte eyeshadow palette ever for those who love matte neutrals. Kat Von D Beauty is my cruelty-free brand of the year for 2017!</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fd10qoa1dy3vloz.cloudfront.net%2Fresized%2F690x510%2Fslots-img%2Fcom%2Fcomplexion-yacyp.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="text-center">TOO FACED</h5>
      <p class="card-text">Too Faced is great for those who prefer natural-looking makeup with a little edge. They offer mostly neutral colors, and their packaging is super cute! The Better Than Sex is one of the best cruelty-free mascaras I’ve come across.</p>
    </div>
  </div>
</div>
  
 <!-- Cards 4-6 -->
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fbeauty411.net%2Fwp-content%2Fuploads%2F2017%2F04%2FBECCA-Sunlit-Bronzer-Collection.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="text-center">BECCA COSMETICS</h5>
      <p class="card-text">Becca is very well-known for their gorgeous highlighters. They offer high-quality makeup and a great selection of products. They specialize in base products; their highlighters, bronzers, foundations, primers, and blushes are beautiful!</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fcdn1.blovcdn.com%2Fbloglovin%2FaHR0cCUzQSUyRiUyRnd3dy5iZWF1dGV6aW5lLmNvbSUyRndwLWNvbnRlbnQlMkZ1cGxvYWRzJTJGMjAxMyUyRjA2JTJGTkZfTWFyY19KYWNvYnMuanBn%3Fchecksum%3D7ac42b488e7c5a4f24f0fe755f629ca7998b728c%26format%3Dj" alt="Card image cap">
    <div class="card-body">
      <h5 class="text-center">MARC JACOBS</h5>
      <p class="card-text">This makeup line is definitely on the luxurious side. Gotta love the sleek, black packaging and the high-quality pigments. If you want a wonderful full coverage foundation, check out their Re(marc)able Foudation. They also offer a lot of beautiful and high-quality Eyeshadow Palettes.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Famp.thisisinsider.com%2Fimages%2F59a44fc352c08026008b4707-750-563.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="text-center">TARTE COSMETICS</h5>
      <p class="card-text">Tarte offers makeup free of parabens, synthetic fragrance, petrochemicals, GMOs, and gluten. Their In Bloom palette (pictured above), which has been getting a lot of love.</p>
    </div>
  </div>
</div>
  <br>
  
  <p class="text-center">As you may know lots of makeup brands use animal testing, so we did our research and put brands that carry a variety of cruelty-free products. Before you purchase an item from one of these brands make sure you double check it shows cruelty-free symbol (looks like one of the images below) or states that there was no animal testing used.</p>
<!--<img src=http://www.veganbeautyreview.com/wp-content/uploads/2014/03/Screen-Shot-2014-03-26-at-9.28.43-PM.png>-->

<div class="text-center">
  <img src="http://www.veganbeautyreview.com/wp-content/uploads/2014/03/Screen-Shot-2014-03-26-at-9.28.43-PM.png" alt="Veganbeauty">
</div>
  
    <h2 class="text-center">Cruelty Free Makeup</h2>
  
  
  <ul class="list-group list-group-flush">
  <li class="list-group-item">KAT VON D
</li>
  <li class="list-group-item">ANASTASIA BEVERLY HILLS
</li>
  <li class="list-group-item">HOURGLASS
</li>
  <li class="list-group-item">MILK MAKEUP 
</li>
  <li class="list-group-item">CHARLOTTE TILBURY
</li>
    <li class="list-group-item">MARC JACOBS BEAUTY 
</li>
    <li class="list-group-item">COVERFX
</li>
    <li class="list-group-item">BITE</li>
    <li class="list-group-item">NUDESTIX
</li>
    <li class="list-group-item">LUSH
</li>
    <li class="list-group-item"> ELF
</li>
    <li class="list-group-item">HARD CANDY
</li>
    <li class="list-group-item">MILANI
</li>
    <li class="list-group-item">PHYSICIANS FORMULA
</li>
      <li class="list-group-item">WETNWILD
</li>
      <li class="list-group-item">PIXI
</li>
      <li class="list-group-item">ESSENCE
</li>
</li>
    <li class="list-group-item"> COLOURPOP
</li>
</li>
    <li class="list-group-item"> GLOSSIER NEW
</li>
</li>
    <li class="list-group-item"> ELF
</li>
</li>
    <li class="list-group-item"> 
</li>
</ul>
  
  
  
  
  <!-- Cards 123 only pics--> 
   <div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://78.media.tumblr.com/6a74abed9dcb572739069267b8b17c9e/tumblr_p4u06dQ5hU1qgaiiro1_500.jpg">  
  </div>
  <div class="card">
    <img class="card-img-top" src="https://images.ctfassets.net/p3w8f4svwgcg/26ZVeLxITugUEAYaa480Qk/1e20946e794401d2b3637aeaacd3581a/Skincare.jpg?h=250&q=60"> 
  </div>
     <div class="card">
    <img class="card-img-top" src="https://78.media.tumblr.com/ecc7e9ddd0f0eccd4e7e0697e3bdb0be/tumblr_pb5macPXG11wnhwzio2_1280.jpg"> 
  </div>
  <div class="card text-center">  
  <div class="card">
    <img class="card-img" src="https://78.media.tumblr.com/89b83aab299edfd16f51089614032073/tumblr_o8foc0Hw6F1u8n0xao2_500.gif">
  </div>
    <div class="card">
    <img class="card-img" src="https://78.media.tumblr.com/89b83aab299edfd16f51089614032073/tumblr_o8foc0Hw6F1u8n0xao2_500.gif">
  </div>
  </div>
</div>
  
  
  
  
  
  
  
   <!-- Cards 456--> 
  <div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://78.media.tumblr.com/8ac25a4617b155a5429d5190c15c6914/tumblr_ow8q3mM0MK1s7xduro1_500.jpg" >  
  </div>
  <div class="card">
    <img class="card-img-top" src="https://slack-imgs.com/?c=1&url=https%3A%2F%2F78.media.tumblr.com%2F8b8f63405ec850b6197ad0a0bbcb53db%2Ftumblr_pbwtlbTB0V1u3u3h0o1_640.png"> 
  </div>
  <div class="card text-center">  
  <div class="card">
    <img class="card-img" src="https://78.media.tumblr.com/748e4697eb83ddcf8b36aeb8644a4240/tumblr_p1ytwjEdrF1rpd6n7o1_500.jpg">
  </div>
  </div>
</div>
  
<img src="">
<img src="">   
<img src="">  
<img src="">  
<img src="">  
  

  
 

  
  
    <style>
.parallax {
  /* The image used */
  background-image: url(https://78.media.tumblr.com/cf3e2e248f222185515725fd4b01c525/tumblr_p1w2i8q4g01rvt47eo1_500.gif);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
</body> 
</html>
    


  
  