<!doctype html>

<html>
<head>
  
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  
   <h2  class="text-center" >RAW </h2>
  <h3  class="text-center" >fashion + beauty</h3>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fashion">Fashion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beauty">Beauty</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/articles">Articles</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#"> 
         </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/contact" >Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subscribe">Subscribe</a>
      </li>
     
    </ul>
  </div>
</nav>
  
   <h3  class="text-center" > Contact </h3>
  
  <style>
.parallax { 
    /* The image used */
    background-image: url("https://78.media.tumblr.com/468611ef89935bbe61e378b1b009dc00/tumblr_pa0uvyJmaL1vk26fvo1_400.gif");
    /* Set a specific height */
    height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>
  
   <style>
.parallax { 
    /* The image used */
    background-image: url("https://78.media.tumblr.com/468611ef89935bbe61e378b1b009dc00/tumblr_pa0uvyJmaL1vk26fvo1_400.gif");
    /* Set a specific height */
    height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>

 <br>


  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact Us!</h1>
    <p class="lead">If you want more info, contact us through email or Instagram</p>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
  
  
   <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/originals/1d/4c/58/1d4c58dd8bc956d29b77a2fa7354292a.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="text-center">MARY WHITE</h5>
      <h4 class="card-text"> @marywwhite</h4>
      <h4 class="card-text"> marywhitecontact@gmail.com</h4>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/35533266_185556512110602_7266460249601605632_n.jpg?_nc_cat=0&oh=3af7f42af96736fae8cfa68ebc4c7f09&oe=5BEA3FF2" alt="Card image cap">
    <div class="card-body">
      <h5 class="text-center">MIYA STAUSS</h5>
            <h4 class="card-text"> @miyastauss</h4>
      <h4 class="card-text"> miyastauss@gmail.com</h4>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/originals/03/93/29/03932937e3f4cc5580c546a31432b527.png">
    <div class="card-body">
      <h5 class="text-center">CELINE BOUDAIE</h5>
            <h4 class="card-text"> @celineboudaie</h4>
      <h4 class="card-text"> cboudaie@gmail.com</h4>
    </div>
  </div>
</div>
   
 
     <style>
.parallax { 
    /* The image used */
    background-image: url("https://78.media.tumblr.com/8f8ecf51a386dec8064ee78870f808f9/tumblr_p3bu7tEBS11x0lweto1_400.gif");
    /* Set a specific height */
    height: 400px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>
  
   <style>
.parallax { 
    /* The image used */
    background-image: url("https://78.media.tumblr.com/8f8ecf51a386dec8064ee78870f808f9/tumblr_p3bu7tEBS11x0lweto1_400.gif");
    /* Set a specific height */
    height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>
  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
</body> 
</html>