<!doctype html>
<html>
<head>
  
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!--<link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">-->
    <link rel="stylesheet" href="styles.css">
  
</head>
<body>
  
    <h2  class="text-center" >RAW </h2>
    <h3  class="text-center" >fashion + beauty</h3>
  
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fashion">Fashion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beauty">Beauty</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/articles">Articles</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/"> 
         </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/subscribe">Subscribe</a>
      </li>
    </ul>
  </div>
</nav>
  
  <style>
.parallax {
  /* The image used */
  background-image: url(https://78.media.tumblr.com/4c1fabcceddd2cb8b0c5476ee0ac00c0/tumblr_oirlu8wQ401uzg6sbo1_500.gif);
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

  <!-- Cards 123--> 
   <div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://78.media.tumblr.com/6a74abed9dcb572739069267b8b17c9e/tumblr_p4u06dQ5hU1qgaiiro1_500.jpg">  
  </div>
  <div class="card">
    <img class="card-img-top" src="https://78.media.tumblr.com/3970a03016c0671e98c1877a16c468c2/tumblr_p5577nNSGK1qe7g6lo1_500.jpg"> 
  </div>
  <div class="card text-center">  
  <div class="card">
    <img class="card-img" src="https://78.media.tumblr.com/d743970327bef0ddad5f8608f89230c0/tumblr_nk2ralpAga1sfo2lfo1_540.jpg">
  </div>
  </div>
</div>
  
  
  
  
  <h2 class="text-center">How Educated Are You On Anti Animal Cruelty?</h2>
  
  <div align="center" class = "quiz_box">
    <h1 class = "big"> This quiz will determine the extent of your knowledge of animal cruelty in cosmetics and fashion </h1>
    <br>
        <form method="POST" action="/results">
    <h1 id = “question1”> 1. Have you ever heard of animal cruelty and it's effects?: </h1>
    <label><input type = "radio" name = "Q1" value = "yes">yes</label>
    <label><input type = "radio" name = "Q1" value = "no">no</label>
    <label><input type = "radio" name = "Q1" value = "maybe">maybe</label>

    <br>

    <h1  id = “question2”> 2. What percentage of clothing brands do you think use real fur?: </h1>
    <label><input type = "radio" name = "Q2" value = "95%">95%</label>
    <label><input type = "radio" name = "Q2" value = "85%">85%</label>
    <label><input type = "radio" name = "Q2" value = "20%">20%</label>

    <br>

    <h1  id = “question3”> 3. What percentage of makeup companies do you think test on animals?: </h1>
    <label><input type = "radio" name = "Q3" value = "90%">90%</label>
    <label><input type = "radio" name = "Q3" value = "50%">50%</label>
    <label><input type = "radio" name = "Q3" value = "35%">35%</label>

    <br>

    <h1 id = “question4”> 4. What are one of the harmful effects of animal testing?: </h1>
    <label><input type = "radio" name = "Q4" value = "animals are distressed, agitated, and often die">animals are distressed, agitated, and often die</label>
    <label><input type = "radio" name = "Q4" value = "only a few non-harmful effects">only a few non-harmful effects</label>
    <label><input type = "radio" name = "Q4" value = "none">none</label>

    <br>

    <h1  id = “question5”> 5. How many animals are killed annually for the purpose of retail?: </h1>
    <label><input type = "radio" name = "Q5" value = "35 million">35 million</label>
    <label><input type = "radio" name = "Q5" value = "10 million">10 million</label>
    <label><input type = "radio" name = "Q5" value = "650,000">650,000</label>
    <br>
          <input type="submit" value="Submit">
    </form>
    
    <br>
  </div>
  
 
  
   <!-- Cards 456--> 
  <div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://78.media.tumblr.com/76bb8dc48932225df5219462964f2456/tumblr_p5anp1xJnh1r4r7ugo1_540.jpg" >  
  </div>
  <div class="card">
    <img class="card-img-top" src="https://78.media.tumblr.com/4e952af796cde154f061021a483d52f4/tumblr_mmo7me3vl91qcz66co1_500.gif"> 
  </div>
  <div class="card text-center">  
  <div class="card">
    <img class="card-img" src="https://78.media.tumblr.com/3dca6f4fb2d6b73d3d10af9dfa581ae4/tumblr_n6p2nddgwa1qeenqgo1_r1_540.jpg">
  </div>
  </div>
</div>
<img src="">
<img src="">   
<img src="">  
<img src="">  
<img src="">  
  

  
 

  
  
    <style>
.parallax {
  /* The image used */
  background-image: url(https://78.media.tumblr.com/4c1fabcceddd2cb8b0c5476ee0ac00c0/tumblr_oirlu8wQ401uzg6sbo1_500.gif);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
</body> 
</html>
    


  
  