<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>title</title> 
    <link rel="stylesheet" href="css/style.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </head>
  <body>
<div align="center" class = "quiz_box">
    <h1 class = "big"> This quiz will determine the extent of your knowledge of animal cruelty in cosmetics and fashion </h1>
    <br>
        <form method="POST" action="/results">
    <h1 id = “question1”> 1. Have you ever heard of animal cruelty and it's effects?: </h1>
    <label><input type = "radio" name = "Q1" value = "yes">yes</label>
    <label><input type = "radio" name = "Q1" value = "no">no</label>
    <label><input type = "radio" name = "Q1" value = "maybe">maybe</label>

    <br>

    <h1  id = “question2”> 2. What percentage of clothing brands do you think use real fur?: </h1>
    <label><input type = "radio" name = "Q2" value = "95%">95%</label>
    <label><input type = "radio" name = "Q2" value = "85%">85%</label>
    <label><input type = "radio" name = "Q2" value = "20%">20%</label>

    <br>

    <h1  id = “question3”> 3. What percetage of makeup companies do you think test on animals?: </h1>
    <label><input type = "radio" name = "Q3" value = "90%">90%</label>
    <label><input type = "radio" name = "Q3" value = "50%">50%</label>
    <label><input type = "radio" name = "Q3" value = "35%">35%</label>

    <br>

    <h1 id = “question4”> 4. What are one of the harmful effects of animal testing?: </h1>
    <label><input type = "radio" name = "Q4" value = "animals are distressed, agitated, and often die">animals are distressed, agitated, and often die</label>
    <label><input type = "radio" name = "Q4" value = "only a few non-harmful effects">only a few non-harmful effects</label>
    <label><input type = "radio" name = "Q4" value = "none">none</label>

    <br>

    <h1  id = “question5”> 5. How many animals are killed annually for the purpose of retail?: </h1>
    <label><input type = "radio" name = "Q5" value = "35 million">35 million</label>
    <label><input type = "radio" name = "Q5" value = "10 million">10 million</label>
    <label><input type = "radio" name = "Q5" value = "650,000">650,000</label>

    <br>

    
          <input type="submit" value="Submit">
    </form>
  </div>
    </body>
</html>